<HTML style=" margin: 0 auto;height: auto;background-color: #f8f8f8;background-image:url({{ imgurl }});background-size: cover;">
<body style="text-align:center;display: flex">
    <div style="width:auto;margin: auto;padding: 10em;border-radius:1em;background: rgba(0,0,0,0.37)">
        <p style="color: #fff9d8;font-family: 楷体;font-size: xx-large">不务正业的Android开发</p>
        <p style="color: #fff9d8;font-family: 楷体;font-size: xx-large">沉迷二次元不能自拔的死宅</p>
        <p style="color: #fff9d8;font-family: 楷体;font-size: xx-large">早睡早起是我的短期人生目标</p>
    </div>
</body>
</HTML>