body{
    background:transparent url("body_bg.jpg") repeat scroll 0% 0%;
}

.toolbar {
    position: relative;
    width: 60%;
    height: auto;
    border-radius: 15px;
    font-family: Consolas, Menlo, Courier, monospace;
    font-size: 300%;
    text-align: center;
    background: rgba(242, 236, 215, 0.5);
    margin:0 auto ;
}

.menu{
    font-size: medium;
}

.content {
    position: relative;
    width: 99%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: relative;
    width: 99%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pre{
    border-radius: 5px;
    box-shadow: #1d3e81;
    background: rgba(242, 236, 215, 0.5);
}

.post-content{
    width: 80%;
    text-align: start;
    margin: 0 auto;
    padding: 1em;
    border-radius: 6px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgb(51,51,51) 2px 2px 5px;
}

.post {
    width: 60%;
    height: auto;
    margin: 0.2em auto;
    font-family: Consolas, Menlo, Courier, monospace;
    padding: 0.2em 0;
    background:rgba(242, 236, 215, 0.5) repeat scroll 0% 0%;
    border-radius: 10px;
    letter-spacing: -0.05em;
}

.post-title{
    text-decoration:none;
    font-family: 方正舒体, serif;
    font-weight: bold;
    font-size: 200%;

    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

.post-info{
    font-family: Consolas, 方正舒体, cursive;
    font-size: 150%;
}

.post-subtitle{
    font-size: 100%;
}


/*animate.css中的 hing css动效*/
@-webkit-keyframes hinge {
    100% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    80%,40% {
        -webkit-transform: rotate3d(0,0,1,80deg);
        transform: rotate3d(0,0,1,80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    60%,20% {
        -webkit-transform: rotate3d(0,0,1,60deg);
        transform: rotate3d(0,0,1,60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1
    }

    0% {
        -webkit-transform: translate3d(0,700px,0);
        transform: translate3d(0,700px,0);
        opacity: 0
    }
}

@keyframes hinge {
    100% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    80%,40% {
        -webkit-transform: rotate3d(0,0,1,80deg);
        transform: rotate3d(0,0,1,80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }

    60%,20% {
        -webkit-transform: rotate3d(0,0,1,60deg);
        transform: rotate3d(0,0,1,60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1
    }

    0% {
        -webkit-transform: translate3d(0,700px,0);
        /*transform: translate3d(0,700px,0);*/
        opacity: 0
    }
}

@keyframes rainbow {
  0% { color: #c00; }
  50% { color: orange; }
  100% { color: yellowgreen; }
}


@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
