{% extends "layout.html" %}
{% block title %}
    Add new post!
{% endblock %}

{% block small_title %}
    New Post
{% endblock %}

{% block content %}
    {% if post %}
        <form action="{{ url_for('modify') }}" method="POST" class="add">
            <dl>
                {#为了在post中加上id和日期参数，又不在页面中显示出来#}
                <input type='hidden' name='post_id' value={{ post.post_id }}>
                <input type='hidden' name='post_date' value={{ post.date }}>
                <dt>title:</dt>
                <dd><input type=text size=30 name=title value={{ post.title }}></dd>
                <dt>tags:</dt>
                <dd><input id="tags" type=text size=30 name=tags value={{ post.tags }}></dd>
                <dt>summary:</dt>
                <dd><textarea type="text" size=30 name=subtitle>{{ post.subtitle }}</textarea></dd>
                <dt>content:</dt>
                <dd><textarea  size=30 name=content>{{ post.content }}</textarea></dd>
                <dd><input type="submit" value="Submit"></dd>
            </dl>
        </form>
    {% else %}
        <form action="{{ url_for('add') }}" method=post class="add">
            <dl>
                <dt>title:</dt>
                <dd><input type=text size=30 name=title></dd>
                <dt>tags:</dt>
                <dd><input id="tags" type=text size=30 name=tags></dd>
                <dt>summary:</dt>
                <dd><textarea type=text size=30 name=subtitle></textarea></dd>
                <dt>content:</dt>
                <dd><textarea type=text size=30 name=content></textarea></dd>
                <dd><input type="submit" value="Submit"></dd>
            </dl>
        </form>
    {% endif %}
{% endblock %}