<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cabana{% endblock %}</title>
    <Link Rel="shortcut icon" href={{ url_for("static", filename="./icons/favicon.ico") }}>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="./css/mdui.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="./css/pygments.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="./css/base.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="./css/markdown.css") }}"/>
</head>

<body class="mdui-appbar-with-toolbar mdui-bottom-nav-fixed">

    <div class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-hide">
        <div class="mdui-toolbar mdui-color-indigo">
          <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-hidden-xs-down" mdui-drawer="{target: '#left-drawer'}"><i class="mdui-icon material-icons">&#xe5d2;</i></a>
          <a  class="mdui-typo-headline mdui-hidden-xs-down" href={{ url_for('index') }}>Cabana</a>
          <a href="javascript:;" class="mdui-typo-title">{% block small_title %}{% endblock %}</a>
          <div class="mdui-toolbar-spacer"></div>
          <a href="{{ url_for('index') }}" class="mdui-btn mdui-btn-icon mdui-hidden-sm-up"><i class="mdui-icon material-icons">&#xe88a;</i></a>
          <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#example-attr'}"><i class="mdui-icon material-icons">&#xe5d4;</i></a>
          <ul class="mdui-menu" id="example-attr">
              <li class="mdui-menu-item">
                <a href={{ url_for('edit') }} class="mdui-ripple">Add Post</a>
              </li>
              <li class="mdui-menu-item">
                <a href={{ url_for('files') }}>Flies Manager</a>
              </li>
              <li class="mdui-divider"></li>
              {% block menu %}{% endblock %}
              <li class="mdui-divider"></li>
              <li class="mdui-menu-item">
                <a href="javascript:;" class="mdui-ripple">About</a>
              </li>
          </ul>
        </div>
    </div>

    <div class="mdui-drawer mdui-drawer-close" id="left-drawer" style="background-color: #989898">
        drawer的内容
    </div>

    <div class="mdui-container-fluid">
        <div>{% block content %}{% endblock %}</div>
        <div class="footer">
            {% block footer %}
                <footer>Copyright 2016 by <a href="https://github.com/kangyang1024">kang</a>.Powered by <a href="http://flask.pocoo.org/">Flask</a></footer>
            {% endblock %}
        </div>
    </div>

    <div class="mdui-bottom-nav mdui-bottom-nav-text-auto mdui-color-indigo mdui-bottom-nav-scroll-hide mdui-hidden-sm-up">
        <a href="javascript:void(0);" class="mdui-ripple mdui-ripple-white mdui-bottom-nav-active">
          <i class="mdui-icon material-icons">&#xe639;</i>
          <label>Movies</label>
        </a>
        <a href="javascript:void(0);" class="mdui-ripple mdui-ripple-white">
          <i class="mdui-icon material-icons">&#xe405;</i>
          <label>Music</label>
        </a>
            <a href="javascript:void(0);" class="mdui-ripple mdui-ripple-white">
          <i class="mdui-icon material-icons">&#xe865;</i>
          <label>Books</label>
        </a>
        <a href="javascript:void(0);" class="mdui-ripple mdui-ripple-white">
          <i class="mdui-icon material-icons">&#xe02f;</i>
          <label>Newsstand</label>
        </a>
    </div>
    <script src={{ url_for("static",filename="./js/mdui.min.js") }}></script>
</body>


</html>