<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="theme-color" content="#3F51B5">
    <title>{% block title %}Cabana{% endblock %}</title>
    <Link Rel="shortcut icon" href={{ url_for("static", filename="./images/favicon.ico") }}>
    <script src="https://cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="./css/mine.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="./css/tagsinput.css") }}"/>
    <link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_y43cvakcxky5jyvi.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="./css/pygments.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="./css/markdown.css") }}"/>
</head>

<body translate="no">
<div class="page">

    <span class="menu_toggle">
        <i class="menu_open iconfont">&#xe61e;</i>
        <i class="menu_close iconfont">&#xe63d;</i>
    </span>

    <ul class="menu_items">
        {% block menu %}{% endblock %}
        <li><a href="#"><i class="iconfont">&#xe600;</i> About</a></li>
    </ul>

    <main class="content">
        <div class="content_inner">
            <a href="{{ url_for('index') }}" class="logo">Cabana</a>
            <div>{% block content %}{% endblock %}</div>
            <div class="site-cache" id="site-cache"></div>
            <div class="footer">
                {% block footer %}
                    <footer>Copyright 2016 by <a href="https://github.com/kangyang1024">kang</a>.Powered by
                        <a href="http://flask.pocoo.org/">Flask</a></footer>
                {% endblock %}
            </div>
        </div>
    </main>
</div>
<script src={{ url_for("static",filename="./js/tagsinput.min.js") }}></script>
<script src={{ url_for("static",filename="./js/mine.js") }}></script>
</body>


</html>