{% extends "layout.html" %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block menu %}
    <li class="mdui-menu-item">
        <a href={{ url_for('delete',post_id=post.post_id) }}>Delete</a>
    </li>
{% endblock %}

{% block content %}
    <h3>{{ post.title }}</h3><br/><br/>
    <b>日期：{{ post.date }}  tags：{{ post.tags }}</b><br/>
    <i>{{ post.subtitle }}</i><br/>
    {% autoescape false %}
    <div class="post-content">{{ post.content }}</div>
    {% endautoescape %}
{% endblock %}