{% extends "layout.html" %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block small_title %}
    {{ post.title }}
{% endblock %}

{% block menu %}
    <li class="mdui-menu-item">
        <a href={{ url_for('delete',post_id=post.post_id) }}>Delete</a>
    </li>
    <li class="mdui-menu-item">
        <a href={{ url_for('edit_modify',post_id=post.post_id) }}>Modify</a>
    </li>
{% endblock %}

{% block content %}
    <div class="mdui-text-center"><h2>{{ post.title }}</h2></div>
    <div class="mdui-valign"><i class="mdui-icon material-icons mdui-text-color-grey">&#xe916;</i>{{ post.date }}&nbsp;&nbsp;&nbsp;&nbsp;<i class="mdui-icon material-icons mdui-text-color-grey">&#xe54e;</i>{{ post.tags }}<br/></div>
    <div class="mdui-typo">
      <blockquote>
        {{ post.subtitle }}
      </blockquote>
    </div>
    {% autoescape false %}
    <div class="post-content markdown-body">{{ post.content }}</div>
    {% endautoescape %}
{% endblock %}